h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.container {
	max-width:900px;
}
.innerContainer {
	padding:10px;
	background-color: #eee;
  	background-color: rgba(210,210,210,.06);
	
 	border: 1px solid #ddd;
  	border: 1px solid rgba(150,150,150,.08);
  	border-radius:4px;
}
.vertical-center {
	vertical-align:middle;
}